body {
  margin: 0px;
  overflow: hidden;
}

.app-container {
  display: block;
  flex-direction: row;
}

/* #map { width: 600px;} */

.map-container {
  /* display: flex; */
  /* width:100%; */
  /* background: red; */
}

/* .menu-container {
  display: flex;
  background-color: green;
  height: 100vmax;
} */

.search-container {
  position: fixed;
  top:10px;
  left:10px;
  z-index: 999;
  /* width: 100vw; */
  align-content: center;
  /* align-items: center; */
  align-self: center;
  /* text-align: center; */
  /* background: red; */
}

.logo {
  position: absolute;
  left: 10px;
  bottom: 0px;
  width: 100px;
  z-index: 1000;
  opacity: 0.8;
  /* background-color: rgba(255,255,255,0.9); */

}

/* .leaflet-map-pane{
    z-index: 100;
} */
