body {
  margin: 0px;
  overflow: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.map-container {
  width: auto;
  height: auto;
}

.search-container {
  position: fixed;
  top:10px;
  left:10px;
  z-index: 1002;
  align-content: center;
  align-self: center;
}

.logo {
  position: absolute;
  left: 10px;
  bottom: 0px;
  width: 100px;
  z-index: 1000;
  opacity: 0.8;
}

.sidebar-overlay {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.55);
  position: absolute;
  left: 300px;
  top: 0;
  z-index: 9999999;
}