.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  left:0;
  z-index: 1001;
  background-color: #1e3154;
  opacity: 1;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.popup-header {
  /* background: red; */
  /* display: inline-block; */
  font-size: 26px;
  font-weight: bold;
  color: #e4bf4f;
  margin-right: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

.popup-header-category {
  font-size: 20px;
  font-weight: lighter;
}