.infopane-buffer {
  position: absolute;
  height: 40px;
  width: 100%;
  background-color: red;
}

.infopane {
  display: block;
  position: absolute;
  left:0;
  top: 0;
  background-color: #1e3154;
  opacity: 1;
  text-align: left;
  overflow: hidden;
  padding-top: 0px;
  -webkit-transform: translate3d(0,0,0);
}

.infopane-close-button {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 1010;
}

.infopane-close-button :hover {
  cursor: pointer;
}

.infopane-close-button-image {
  height: 35px;
  width: 35px;
  opacity: 2;
}

.popup-header {
  position: relative;
  left: -10px;
  top: 0px;
  font-size: 26px;
  font-weight: bold;
  color: #e4bf4f;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  width: inherit;
  -webkit-transform: translate3d(0,0,0);
}

.infopane-buffer-mobile {
  position: relative;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #5387EC;
}

.popup-header-image-container {
  position: relative;
  left: 0;
  width: inherit;
  height: 200px;
  overflow: hidden;
  top: 0px;
  padding: 0px;
  text-align: center;
}

.popup-header-image {
  width: inherit;
  min-height: 100%;
  opacity: 0.85;
}

.popup-header-image-name {
  position: absolute;
  width: inherit;
  text-align: left;
  bottom: 0px;
  background-color: rgba(0,0,0,0.4);
}

.popup-header-name {
  font-size: 26px;
  font-weight: bold;
  color: #e4bf4f;
  padding-left: 10px;
}

.popup-header-category {
  display: block;
  padding: 5px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: lighter;
  color: white;
  width: inherit;
}

.infopane-body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  height: 100%;
  color: white;
}

.infopane-website-container {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 100%;
  background: #0BA89A;
  color: white;
  text-decoration: none;
}

.infopane-website-image-container { 
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.infopane-website-image { 
  height: 15px;
}

.infopane-website-text { 
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.mobile-info {
  display: block;
  background-color: #1e3154;
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
  padding-top: 0px;
  border-top: 1.5px solid white;
  box-shadow: 0px 0px 10px #c0c0c0;
  z-index: 1007;
}

.mobile-info-open-button-container {
  position: relative;
  top: -25px;
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.mobile-info-open-button {
  align-content: center;
  text-align: center;
  height: 35px;
  width: 35px;
  background: #1e3154;
  border: 3px solid white;
  border-radius: 50%;
  text-align: right;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  z-index: 5;
}

.mobile-info-open-button-icon {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 30px;
  width: 30px;
  border: none;
}

.mobile-info-open-button :hover {
  cursor: pointer;
}

.mobile-info-text {
  position: relative;
  top: -27.5px;
}

.mobile-info-name {
  font-size: 20px;
  font-weight: bold;
  color: #e4bf4f;
  padding-left: 10px;
}

.mobile-info-category {
  padding-left: 10px;
  font-size: 16px;
  font-weight: normal;
  color: white;
}